<!DOCTYPE html>
{%extends 'Userdetail/base.html'%}
{%block body_block%}
<form method="POST">
{% csrf_token %}
   <form class="jumbotron" method="post">{% csrf_token %}
                <h2>User login</h2>
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           name="uname">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
                </div>
                <div class="form-group">
                     <button type="submit" class="btn btn-primary">Login</button>
                    <a href="{%url 'register'%}">New user? Register Here!</a>
                </div>

            </form>
</form>
{%endblock%}