<!DOCTYPE html>
{%extends 'Userdetail/base.html'%}
{%block body_block%}
 <form method="post" class="jumbotron">{% csrf_token%}
                <h2>Register Here!</h2>
                <br>
                <table>
                    {% for field in form %}
                    <tr>
                        <td>{{field.label_tag}}</td>
                        <td> {{field.errors}}
                            {{field}}
                            <br>
                        </td>
                    </tr>


                    {% endfor %}
                </table>
                <br>

                <input type="submit" value="Login" class="btn btn-secondary" id="regbutton">
            </form>
{%endblock%}